#sobreContainer{
    width: 90%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: 5%;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 5px;
    box-shadow: rgba(51, 51, 51, 0.7) 3px 3px 3px;
}

#sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}