.calendarContainer{
    margin-bottom: 20px;
    background-color: #333;
    border-radius: 20px;
    width: 40%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 25%;
}

.calendarTitle{
    display: flex;
    flex-direction: row;
}