.body{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#header{
    height: 60px;
    background-color: rgb(212, 212, 0);
    box-shadow: rgba(0, 0, 0, 5) 0px 0px 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.container{
    display: flex;
    align-items: center;
}

.infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.infoContainer h4{
    margin-right: 25px;
    cursor: pointer;
}

.infoContainer h4:hover{
    display: flex;
    text-decoration: underline;
}

.information{
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
    margin-left: 290px;
}

.schedule{
    background-color: rgb(0, 0, 0);
    width: 35%;
    color:  rgb(212, 212, 0);
    display: flex;
    justify-content: center;
    height: 100%;
    
}

.scheduleTitle{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scheduleTitle h1{
    margin-bottom: 70px;
    height: 60px;
    border-bottom: 3px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
}

#selectedName{
    margin-bottom: 20px;
    font-weight:100;
    font-size: 18px;
    display: flex;
    margin-left: 70px;
}

.listCard{
    list-style-type: none;
}



