.cardContainer{
    margin-top: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.cardContainer h3{
    margin-bottom: 2px;
    margin-left: 112px;
    width: 100%;
    padding-right: 100px;    
}

.buttonContainer{
    display: flex;
    height: 50%;
    margin-left: 270px;
    margin-right: 80px;
    margin-top: 30px;
}

.buttonContainer button{
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    border:none;
    background-color: rgb(255, 255, 130);
}

.buttonContainer button:active{
    background-color: yellow;
}


